*{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'minecraft';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./Assets/wood.png);
}

@font-face {
    font-family: "minecraft";
    src: url("./Fonts/minecraft.ttf");
    font-weight: normal;
    font-size: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
